.App {
  text-align: center;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-body {
  background-color:rgb(243, 243, 243);
  height: 900px;
  margin: 15px 15px;
  display: flex;
  font-size: calc(10px + 2vmin);
  color: black;
}
.exprience {
  height: 30px;
  width: 99%;
  border: 1px  solid black;
  background-color:rgb(51, 146, 126);
 
}

.exprience>h6{
  color: rgb(74, 0, 172);
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  font-size: 20px;
  margin-top: 5px;
  margin-bottom: 100px;
  margin-left: 20px;
}
.DivExp
{
  
  display: flex;
  margin:20 px; 
}
.nosset
{
  
  padding: 5px 50px 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  text-align: left;
  font-size: 20px;

}
.Lasset {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 250px;
  min-width: 225px;
  color: white;
  line-height: -0.1;
  background-color:rgb(51, 146, 126);
}
.Lassetdiv {
  height: 30px;
  width: 99%;
  background-color:rgb(0, 68, 53);
  border: 1px  solid black;

}
#myProgress {
  width: 100%;
  background-color:  white;
}

#myBar {
  width: 10%;
  height: 10px;
  background-color: rgb(214, 129, 31);
}


.nomLasset>h4
{
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
}
.nomLasset>p
{
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  text-align: left;
  font-size: 15px;
}
.image {
  
  height: 180x;
  width: 200px;
  margin: 5px 5px;

}

.App-link {
  color: #61dafb;
}

